<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ acao() }} Livro</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="livroForm" class="livro-form">
      @if (idBook) {
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input type="text" matInput [value]="idBook" [disabled]="true" >
        </mat-form-field>
      }
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input type="text" matInput formControlName="titulo" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Autor</mat-label>
        <input type="text" matInput formControlName="autor">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Genero</mat-label>
        <input type="text" matInput formControlName="genero">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ano</mat-label>
        <input type="number" matInput formControlName="ano" min="1" max="9999">
      </mat-form-field>
    </form>




  </mat-card-content>
  <mat-card-footer >
    <button mat-button routerLink="/livros">Cancelar</button>
    <button type="submit" mat-button (click)="salvar()" [disabled]="!livroForm.valid">Salvar</button>
  </mat-card-footer>
</mat-card>
